---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Basis-Regular', Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #F9423A;
$second-color: #FAE4CD;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;

$on-palm:          640px;
$on-laptop:        800px;

// Fonts

@font-face {
    font-family: 'Basis-Regular';
    src:url('/fonts/basis_grotesque_regular-web.eot?#iefix') format('embedded-opentype'),
        url('/fonts/basis_grotesque_regular-web.woff') format('woff'),
        url('/fonts/basis_grotesque_regular-web.woff2') format('woff2'),
        url('/fonts/basis_grotesque_regular-web.ttf')  format('truetype'),
        url('/fonts/basis_grotesque_regular-web.svg#svgBasis-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}

@font-face {
    font-family: 'Basis-Black';
    src:url('/fonts/basis_grotesque_black-web.eot?#iefix') format('embedded-opentype'),
        url('/fonts/basis_grotesque_black-web.woff') format('woff'),
        url('/fonts/basis_grotesque_black-web.woff2') format('woff2'),
        url('/fonts/basis_grotesque_black-web.ttf')  format('truetype'),
        url('/fonts/basis_grotesque_black-web.svg#svgBasis-Black') format('svg');
    font-style: normal;
    font-weight: normal;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}


@font-face {
    font-family: 'Fabric-Display';
    src: url('/fonts/FABRIC_Display.woff'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media screen and (max-width: 640px) {
    body .headroom--pinned {
        display: block;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transition: none;
    }
    body .headroom--unpinned {
        display: block;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transition: none;
    }
    body .featherlight:before{
        left: 16px;
        top: 20px;
    }
    body #cushion{
        height: 88px;
    }
    body .site-title, body .footer-space h3, body .footer-space input, body .footer-space li label{
        font-size: 15px;
    }
    body .page-content h4{
        font-size: 10px;
    }
    body .right .space p,.updates-space p, .right .post-list p{
        font-size: 21px;
    }
    #page.page-content .wrapper .right .rightIn .mobile-view.lmv{
        padding-bottom: 28px;
    }
    .page-content h4.number-space{
        margin-bottom: 4em;
        color: $background-color;
    }
    body .featherlight .featherlight-content{
        margin-top: 4em;
        padding-top: 0;
        max-height: 70%;

        & .featherlight-close-icon{
            top: 23px;
            right: 17px;
            font-size: 18px;
        }

        & .caption{
            max-width: 60%;
            margin-top: 10px;
        }

        & .caption.col-2{
            width: 100%;
        }

        & .featherlight-next, .featherlight-previous{
            top: inherit;
            bottom: 0;
        }

        & .featherlight-next{
            bottom: 3px;
        }

        & .featherlight-next span{
            right: 10px;
        }

        & .featherlight-previous span{
            left: 10px;
        }
    }
    body header.site-header{
        height: inherit;

        & .wrapper{
            padding: 0;
            max-width: 100%;

            & .left{
                height: inherit;
                width: 100%;

                & .leftIn{
                    display: none;
                }

                & .site-nav{
                    margin: 0;
                    position: fixed;
                    z-index: 999;

                    & .nav-container{
                        border-right: none;
                        min-height: inherit;
                        padding: 20px 0;
                        background-color: $second-color;
                        margin-right: 0 !important;
                        overflow: auto;

                        /*& .bump{
                            position: inherit;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 100%;
                        }*/

                        & .bump-border{
                            display: none;
                        }
                    }

                    & .bump{
                        max-width: inherit;
                        float: none;
                        width: inherit;
                        padding: 0 1em;

                        & .holdNav{
                            width: 100%;
                            margin: -2em 0 0;
                        }

                        & .leftNav, .rightNav{
                            padding-top: 2em;
                        }

                        & .page-link{
                            padding-left: 0;
                        }
                    }
                }
            }

            & .right{
                width: 100%;
                float: none;
                height: inherit;
                padding: 61px 0 0;
                overflow: auto;

                & .rightIn{
                    float: none;
                    height: inherit;
                    padding: 1em;
                    width: auto;
                    margin-left: 0;

                    & .column.head-space{
                        width: 0;
                        height: 0;
                    }

                    & .mobile-view{
                        display: block;
                    }

                    & h2{
                        padding: 1rem 0 2rem;
                    }

                    & h2, h3, h4{
                        font-size: 24px;
                    }

                    & .col-wrapper-bottom{
                        display: none;
                    }

                    & .col-wrapper{
                        margin: 15px 0;
                        padding: 0;

                        & .column.col-2, .column.col-4{
                            width: 50%;
                        }

                        & h3, h4{
                            font-size: 15px;
                        }
                    }

                    & .space-left.col-6{
                        padding: 0;
                    }

                    & .column + .column{
                        margin: 0;
                    }

                    & .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
                        width: 100%;
                    }
                }
            }
        }
    }

    .footer-space .mobile-view img{
        width: 33%;
    }

    #page.page-content{

        & #scroll{
            display: none;
        }
        & .mobile-view{
            display: block;
            overflow: auto;
        }

        & .wrapper{
            padding: 0;
            max-width: none;

            & .left {
            }

            & .right{
                float: none;
                left: inherit;
                width: inherit;

                & .updatesIn .column.col-4{
                    margin-top: 1em;
                }

                & .rightIn{
                    padding: 0 20px;
                    max-width: none;

                    & #register.footer-space .confirmation{
                        position: relative;
                        bottom: 0;
                    }

                    & .scroll-space{
                        height: 0;
                        border: none;
                    }

                    & .space{
                        padding: 1.2em 0 6em;
                    }

                    & .mobile-view{
                        border-bottom: 3px solid $brand-color;
                        padding-bottom: 16px;
                        padding-top: 20px;
                    }

                    & #map{
                        min-height: 25em;
                    }

                    & .mobile-view .space-left{
                        margin-top: 0;
                        float: left;
                    }

                    & .mobile-view .space-right{
                        float: right;
                    }

                    & .mobile-view .space-left.rl{
                        margin-top: 0;
                        padding-right: 4%;
                        border-right: 1px solid $brand-color;
                    }

                    & .mobile-view .space-right.rl{
                        padding-left: 3%;
                    }

                    & .mobile-img{
                        padding: 20px 0 0 0;
                        clear: both;
                        overflow: auto;
                    }

                    & .mobile-caption{
                        margin-left: 3em;
                        padding-top: 20px;
                    }

                    & .mobile-caption p{
                        font-size: 10px;
                    }

                    & .space .space-right.col-4{
                        padding: 1em 0 0;
                        width: 100%;
                        margin-left: 0;
                    }

                    .accordion {
                        cursor: pointer;
                        transition: 0.2s;
                        position: relative;
                    }

                    .accordion h3{
                        max-width: 60%;
                    }

                    .accordion:after {
                        content: '';
                        background: url('/img/accordion-arrow.svg') no-repeat;
                        background-size: 16px 11px;
                        width: 16px;
                        height: 11px;
                        float: right;
                        position: absolute;
                        right: 20px;
                        top: 0;
                    }

                    .accordion.active:after {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                    .panel {
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.6s ease-in-out;
                        opacity: 0;
                    }

                    .panel.show {
                        opacity: 1;
                        max-height: inherit;
                        clear: both;
                    }

                    .team-right.col-4{
                        padding: 1em 0 0;
                    }

                    & #lifestyle .panel .space-right{
                        border-bottom: 3px solid $brand-color;
                        margin-bottom: 1em;
                    }

                    & .village{
                        border-top: none;
                        width: 47%;
                        padding: 10px 0;
                    }

                    & .village:nth-child(even){
                        float: right;
                    }

                    & .vill-mid, .vill-left-right, .vill-right{
                        display: none
                    }

                    & .mob-col-3{
                        width: 46%;
                    }

                    .chosen-container{
                        width: 100% !important;
                    }
                }

                & .updates-space{
                    padding: 20px;
                }

                & .footer-space.right-footer{
                    padding: 20px;
                }

                & .footer-space div{
                    padding: 0;
                    margin-top: 1.2em;
                }

                & .footer-space div.col-6{
                    padding: 4em 0 6em;
                }
            }

            & ul.form-split li.form-left, ul.form-split li.form-right{
                width: 100%;
                float: none;
                min-height: 0;
            }

            & #register:target .confirmation{
                display: inherit;
                padding: 1em 0;
                width: auto;
                top: 0;
                position: relative;
            }
        }

        & .column + .column{
            margin: 0;
        }

        & .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
            width: 100%;
        }

        & .updates{

            & #right.right{
                width: 100%;
                padding: 20px 0 0;

                & .post-list .space-left h3{
                    margin-bottom: 16px;
                }

                & .post-list > li:first-child{
                    padding-top: 0;
                }

                & .post-list > li{
                    margin-bottom: 0;
                    padding-top: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 1200px) {
    body .headroom--pinned {
        display: block;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transition: none;
    }
    body .headroom--unpinned {
        display: block;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transition: none;
    }
    body .featherlight:before{
        left: 32px;
        top: 24px;
    }
    body .featherlight .featherlight-content{
        margin-top: 5em;
        padding-top: 0;
        max-height: 70%;
        margin-left: 2em;
        margin-right: 2em;
        padding: 0;

        & .featherlight-close-icon{
            top: 32px;
            right: 32px;
        }

        & .featherlight-next span{
            right: 42px;
        }

        & .featherlight-previous span{
            left: 42px;
        }

        & .featherlight-next span, .featherlight-previous span{
            top: 45%;
        }

        /*& .caption{
            max-width: 50%;
            margin-top: 10px;
        }

        & .col-2{
            width: 100%;
        }*/
    }

    header.site-header {
        height: inherit;

        & .wrapper {
            background: $second-color;

            & .col-wrapper{
                margin: 2em 0 1.2em;
            }
            & .col-wrapper-bottom{
                left: 0;

                & .space-left.column.col-2{
                    width: 40%;
                }
                & .space-right.column.col-4{
                    width: 10%;
                }
            }
            & .left{
                width: 36%;
                background: $second-color;
                height: 0;

                & .leftIn{
                    right: inherit;
                    background: $second-color;
                    padding: 0;

                    & img{
                        display: none;
                    }
                }

                & .site-nav{
                    position: fixed;
                    margin: 0;

                    & .rightNav{
                        float: left;
                        clear: both;
                    }

                    & .holdNav{
                        float: left;
                        padding-top: 2em;
                        clear: both;
                    }

                    & .column + .column{
                        margin: 0;
                    }
                }

                & .nav-container{
                    width: 36%;
                    margin-right: 64% !important;
                    border: none;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    & .col-3{
                        width: 100%;
                    }
                }
            }

            & h2{
                font-size: 30px;
                padding-top: 0;
            }

            & .right{
                width: 64%;
                height: inherit;

                .rightIn{
                    margin-left: 2em;
                    margin-right: 2em;
                    height: inherit;

                    & .column.head-space{
                        width: 0;
                    }

                    & .column + .column.full{
                        margin-left: 0;
                        width: 100%;
                    }

                    & .col-wrapper-bottom .space-left{
                        margin-left: 0;
                    }

                    & .space-left.col-6{
                        padding: 2em 2em 8em 0;
                    }

                    & .tablet-view{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }

    #page.page-content{

        & .wrapper{

            & #scroll{
                display: none;
            }

            & .left-tablet-view{
                display: block;

                & .talk-last{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    left: 2em;
                    right: 2em;
                }
            }

            & .left{
                position: absolute;
                width: 36%;
                height: 100%;

                & .leftIn{
                    border-right: none;
                    padding: 2em 2em 0;

                    & .tablet-top{
                        padding: 6em 0 2em;
                        border-bottom: 3px solid $brand-color;
                    }
                }
            }

            & .right{
                width: 64%;
                float: right;
                position: relative;
                left: inherit;

                & .scroll-space{
                    height: 2em;
                    border: none;
                }

                & .space{
                    padding: 1.2em 0 6em;
                }

                & .tablet-view{
                    display: block;
                    overflow: auto;
                }

                & .footer-space div.privacy{
                    padding: 1em 0;
                }

                & #register .confirmation{
                    position: relative;
                    bottom: 0;
                }

                .accordion {
                    cursor: pointer;
                    transition: 0.2s;
                    position: relative;
                    width: 100%;
                }

                .accordion:after {
                    content: '';
                    background: url('/img/accordion-arrow.svg') no-repeat;
                    background-size: 16px 11px;
                    width: 16px;
                    height: 11px;
                    float: right;
                    position: absolute;
                    right: 20px;
                    top: 0;
                }

                .accordion.active:after {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

                & .space .space-right.col-4{
                    padding: 1em 0 0;
                    width: 100%;
                }

                .panel .space-right.column{
                    margin-left: 0;
                }

                .panel {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.6s ease-in-out, opacity 0.3s ease-out;
                    opacity: 0;
                }

                .panel.show {
                    opacity: 1;
                    max-height: 4000px;
                    clear: both;
                }

                .map-items.col-3{
                    width: 100%;
                }

                .team-right.col-4{
                    padding: 1em 0 0;
                }

                .team .col-2, .team .col-4{
                    width: 100%;
                }

                #lifestyle .village .vill-mid.col-2 {
                    margin-bottom: 4em;
                }

                .village .vill-left.col-2 {
                    width: 46%;
                    margin-right: 8%;
                }

                .village .vill-left-right.col-1 {
                    width: 50%;
                    margin: 0 4% 0 0;
                }

                .village .vill-mid.col-2, .village .vill-right.col-1 {
                    width: 46%;
                    margin: 0;
                }

                /*.village .vill-right.col-1{
                    width: 13.3%;
                    margin: 0;
                }*/

                & .column + .column{
                    margin: 0;
                }

                & .updatesIn .column.col-4{
                    margin-top: 1em;
                    width: 100%;
                }

                & ul.form-split li.form-left, ul.form-split li.form-right{
                    width: 100%;
                    float: none;
                }
                & ul.form-split.top-form li.form-right{
                    min-height: auto;
                    padding-bottom: 0;
                }
                & ul.form-split li.form-right{
                    min-height: 0;
                    padding-bottom: 2em;
                }

                & .footer-bottom, div.mobile-view.tablet-view{
                    margin: 1em 0;
                    padding: 0;
                }

                & .number-space{
                    margin-bottom: 3em;
                }

                & .footer-space div.col-3{
                    padding: 0 0 6em;
                }
            }
            .tablet-view{
                border-bottom: 3px solid $brand-color;
                padding: 2em 0 1em;
            }
            .tablet-view.uno{
                padding: 0 0 1em;
            }
            .tablet-view.splits > .space-left{
                margin-top: 12em;
            }
            .tablet-view.splits .space-right.pos{
                margin-top: 24em;
            }
            .tablet-view .space-right{
                float: right;

                & .tablet-img{
                    padding: 2em 0 6em;
                }
                & p{
                    font-size: 11px;
                }
            }
            .left-tablet-view .space-left{
                border-top: 3px solid $brand-color;
                padding-top: 2em;
            }
            .tablet-view .space-left.third .tablet-img{
                margin-top: 24em;
            }
            .left-tablet-view .space-right{
                margin: 2em 0;
                border-bottom: 3px solid $brand-color;
                padding-bottom: 2em;
            }
            .left-tablet-view .space-right:last-child{
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    .post-content{

        & .wrapper.updates{

            & #right.right{
                width: 64%;

                & .col-2, .col-4{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width : 641px) and (max-width : 1440px){
    body .site-header .wrapper h3, body .site-header .wrapper h4{
        font-size: 14px;
    }
}

@media only screen and (min-width : 1201px) and (max-width : 1500px){
    body .site-header .wrapper h2{
        padding-top: 0;
        font-size: 30px;
    }
    body .site-header .wrapper .rightIn{
        margin-left: 5%;
        width: 95%;
    }
    body .site-header .wrapper .rightIn .column.head-space{
        width: 0;
    }
    body .site-header .wrapper .rightIn .column + .column.full{
        margin-left: 0;
        width: 100%;
    }
    body .col-wrapper-bottom .space-left{
        margin-left: 0;
    }
    body .col-wrapper-bottom{
        left: 0;
    }
    body .site-header .wrapper .rightIn .space-left.col-6{
        padding: 0 2em 0 0;
    }
    body .featherlight .featherlight-content{
        max-height: 72%;
    }
    body #register .confirmation{
        font-size: 18px;
        bottom: 9em;
    }
    body .footer-space .top-form input{
        margin: 3% 0;
    }
    .rightIn .scroll-space{
        height: 9.6em;
    }
    .right .rightIn .space, #right.right .space.last{
        padding: 1.2em 0 4.5em;
    }
    .village .vill-left.col-2{
        width: 46%;
        margin-right: 8%;
    }
    #lifestyle .village .vill-mid.col-2{
        margin-bottom: 4em;
    }
    .village .vill-mid.col-2, .village .vill-right.col-1{
        width: 46%;
        margin: 0;
    }
    .village .vill-left-right.col-1{
        width: 50%;
        margin: 0 4% 0 0;
    }
    .map-items.col-3{
        width: 100%;
    }
    /*#scroll*/ #right .space .space-right.col-4, .team .team-right.col-4, .updates-space .space-right.col-4{
        width: 100%;
        margin: 0;
        padding: 1em 0 0;
    }
    .page-content .space.ab-exp .space-left.col-2{
        width: 30.66%;
    }
    .page-content .leftIn .space .space-left.col-2{
        width: 30.66%;
    }
    .page-content .space .space-left.col-2{
        width: 50%;
    }
    .updates-space .post-list > li{
        margin-bottom: 0;
    }
    #page .footer-space{
        min-height: 47em;
    }
    #left .footer-space.left-footer h2{
        font-size: 2.2em;
        line-height: 1.2em;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width : 1501px){
    #register .confirmation{
        /*font-size: 24px;*/
    }
    .vill-mid.column.col-2{
        width: 48%;
    }
    .vill-left-right.column.col-1{
        width: 0;
        margin: 0;
    }
	.rightIn .col-wrapper-bottom{
        left: 0;
    }
    #left .footer-space.left-footer h2{
        font-size: 35px;
        line-height: 1.1em;
        padding-bottom: 1rem;
    }
    .development-team-space{
        .team-right{
            p{
                padding-left: 1em;
            }
        }
    }

    .footer-space.left-footer img{
        max-width: 90%;
    }
    #page .wrapper.updates .leftIn{
        box-sizing: initial;
    }
    /*body .post-content .wrapper.updates .leftIn{
        width: initial;
    }*/
    .footer-space #register .confirmation{
        width: 45%
    }
}

@media only screen and (min-width : 1501px) and (max-width : 1736px){
    #page .wrapper.updates .leftIn{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body .site-header .wrapper .rightIn .space-left.col-6{
        padding: 0 2em 0 0;
    }
}

@media only screen and (min-width : 1737px) {
    body .featherlight:before{
        margin: 0 50.27% 0 0;
        right: inherit;
        left: initial;
        float: none;
        text-align: left;
        max-width: 50rem;
        padding: 0 2rem;
        width: 100%;
    }
}

        /*-webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;*/

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
