<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %} ">

  <meta property="og:title" content="F-A-B-R-I-C-"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://fabricofonehunga.co.nz/"/>
  <meta property="og:description" content="A New Pocket Neighbourhood."/>
  <meta property="og:image" content="https://fabricofonehunga.co.nz/img/social.jpg"/>
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="Fabric of Onehunga"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">

  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

  <script src="/js/pageScroll2id.js"></script>
  <script src="/js/headroom.min.js"></script>

  <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.gallery.min.js"></script>

  <script src="/js/chosen.jquery.js" type="text/javascript"></script>
  <script src="/js/prism.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="/js/layers.js" type="text/javascript"></script>
  <script src="/js/jquery.autocomplete.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="/js/gs.js"></script>


  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '510839412440508');
  fbq('track', "PageView");
  fbq('track', 'ViewContent');</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=510839412440508&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Activity name for this tag: Conversion Pixel - Fabrics -->
  <script type='text/javascript'>
  var axel = Math.random()+"";
  var a = axel * 10000000000000;
  document.write('<img src="https://pubads.g.doubleclick.net/activity;xsp=3001946;ord='+ a +'?" width=1 height=1 border=0/>');
  </script>
  <noscript>
  <img src="https://pubads.g.doubleclick.net/activity;xsp=3001946;ord=1?" width=1 height=1 border=0/>
  </noscript>

</head>
