<header class="site-header">

  <div id="loader-wrapper">
    <!--<div id="loader"><img src="/img/fabric-loader.gif" width="400px" alt="F-A-B-R-I-C-" title="F-A-B-R-I-C-"></div>-->
    <div id="loader"><h1><span class="">F-</span><span class="">A-</span><span class="">B-</span><span class="">R-</span><span class="">I-</span><span class="">C-</span></h1></div>
    <div class="loader-section"></div>
  </div>

  <div class="wrapper">
    <div class="left" style="background:{{ page.pagecolor }};">
      <div class="leftIn" style="background:{{ page.pagecolor }};">
        <img src="{{ page.img }}">
      </div>
        <nav class="site-nav">
          <div class="nav-container headroom">
            <div class="bump">
              <div class="column col col-3">
                <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
              </div>

              <div class="holdNav column col col-3">

              <div class="nav-mobile">
                <a href="javascript:void(0)" id="nav-toggle" class="old-menu-icon">
                  <span></span>
                </a>
              </div>

                <div class="trigger">
                  <div class="leftNav">
                    <a href="/" class="page-link">Home</a>
                    <a href="/updates" class="page-link">updates</a>
                    <a href="/img/a-new-pocket-neighbourhood.jpg" class="galleryBox page-link" alt="Spring Street Entrance">Gallery</a>
                  </div>
                  <div class="rightNav">
                    <a href="#vision" class="page-link">Vision</a>
                    <a href="#architecture" class="page-link">Architecture</a>
                    <a href="#location" class="page-link">Location</a>
                    <a href="#lifestyle" class="page-link">Lifestyle</a>
                    <a href="#interiors" class="page-link">Interiors</a>
                    <a href="#development-team" class="page-link">Team</a>
                    <a href="#register" data-ps2id-offset="-1" class="page-link">Register</a>
                  </div>
                </div>
              </div>
              <div class="bump-border"></div>
            </div>
          </div>
        </nav>

    </div>
    <div class="right" style="background:{{ page.pagecolor }};">
      <div class="rightIn">
        <div class="space-left column col-1 head-space">
          <br>
        </div>

        <div class="space-right column col-5 full">
          <div class="col-wrapper">
            <div class="space-left column col-2">
              <a href="/"><h3>Fabric of<br> Onehunga</h3></a>
            </div>
            <div class="space-right column col-4">
              <h4>{{ page.titletwo }}</h4>
            </div>
          </div>
          <div class="mobile-view tablet-view">
            <img src="{{ page.img }}">
          </div>
          <div class="space-left column col-6">
            <h2>{{ page.custom }}</h2>
          </div>
          <a href="#right" data-ps2id-offset="-1">
            <div class="col-wrapper-bottom">
              <div class="space-left column col-1 head-space">
                <br>
              </div>
              <div class="space-left column col-2">
                <h4 class="arrow-white">{{ page.more }}</h4>
              </div>
              <div class="space-right column col-3 head-space">
                <div class="arrow-space">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</header>
