/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html{
    background: $brand-color;
}

/**
 * Basic styling
 */
body {
    overflow-x: hidden;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}




/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

ol{
    margin: 0 0 0 $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
    font-family: Basis-Regular;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content p{
    color: $brand-color;
}

.page-content h3{
    font-family: 'Basis-Black';
    line-height: 1.2em;
    margin-bottom: 0.2em;
    font-size: 17px;
    text-transform: uppercase;
}

.page-content .updates-space h3, .page-content .updates-space h4{
    color: $background-color;
}

.page-content h4{
    font-family: 'Basis-Black';
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
}

h4{
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.village h5, .team h5{
    font-size: 14px;
    margin-bottom: 0;
    font-family: 'Basis-Black';
    text-transform: uppercase;
}

h5.date{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3em;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
        text-decoration: none;
    }

    &:hover {
        color: $brand-color;
        text-decoration: none;
    }
}

.site-header .right a {
    color: $background-color;
    text-decoration: none;

    &:visited {
        color: $background-color;
        text-decoration: none;
    }

    &:hover {
        color: $background-color;
        text-decoration: none;
    }
}

.rss-subscribe a{
    color: $background-color;
}

.updates-space a{
    color: $background-color;
}

body a.social{
    border-bottom: 2px solid $background-color;
}



/**
 * Wrapper
 */
.site-header .wrapper{
    margin-bottom: inherit;
    z-index: 888;

    & .left{
        height: 100vh;
        padding: 0;
        position: relative;
        background-color: $brand-color;
    }

    & .leftIn{
        right: 50%;
        border-right: none;
        padding:0 0 0 2em;
        margin-top: 2em;
        background-color: $brand-color;
        height: calc(100vh - 4em);
        max-width: none;
        overflow: hidden;

        & img{
        }
    }

    & .right{
        height: 100vh;
        padding: 0;
        background: $brand-color;
    }

    & .rightIn{
        float: left;
        position: relative;
        height: 100vh;
        /*width: 100%;---------- */
        padding: 0;
        margin-left: 2em;
        /*margin-left: 31.66%;*/

        & .space-left.col-6{
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

#page{
    position: relative;
}

.page-content .wrapper{
    margin-bottom: 0;
    position: relative;

    & #left{
        position: relative;
        float: left;
        height: auto;
        padding: 0;
    }

    & #scroll{
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        overflow: hidden;
    }

    & #right{
        float: left;
        left: 50%;
        position: absolute;
        padding: 0;
        height: inherit;
    }

    & .leftIn{
        float: right;
    }
}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 111;
    position: relative;
    @extend %clearfix;

    /*@include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }*/

    & .left{
        width: 50%;
        float: left;
        padding: 0 0 2em 0;
        background-color: $second-color;
        height: 90vh;
    }

    & .leftIn{
        max-width: 50em;
        float: right;
        padding: 4em 2em 0;
        border-right: 5px solid #F9423A;
    }

    & .right{
        width: 50%;
        float: right;
        padding: 2em 0;
        background: $background-color;
        height: 90vh;
    }

    & .rightIn{
        max-width: 50em;
        float:left;
        padding: 0 2em 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
