/**
 * Page loader
 */

 #loader-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1001;
 }

 .loader-section {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background: #F9423A;
     z-index: 1000;
     opacity: 1;
 }

 .loaded .loader-section {
     transition: opacity 0.3s ease-out;
     opacity: 0;
 }

 .loaded #loader {
     opacity: 0;
     transition: all 0.3s ease-out;
 }

 .loaded #loader-wrapper {
     visibility: hidden;
 }

 .no-js #loader-wrapper {
     display: none;
 }

 #loader {
     display: block;
     position: relative;
     color: #FFFFFF;
     left: 50%;
     top: 50%;
     width: 400px;
     height: 56px;
     margin: -28px 0 0 -200px;

     z-index: 1500;
 }
#loader h1{
   font-family: 'Basis-Black';
   font-weight: normal;
   text-align: center;
   font-size: 3em;
   line-height: 1.2em;
   letter-spacing: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
 }
 #loader h1 span:nth-child(1){
   opacity: 0;
   animation-name: letterF;
   animation-duration: 3s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterF {
     0% { opacity: 0 }
     12.5% { opacity: 1 }
     25% { opacity: 1 }
     37.5% { opacity: 1 }
     50% { opacity: 1 }
     62.5% { opacity: 1 }
     75% { opacity: 1 }
     87.5% { opacity: 1 }
     100% { opacity: 0 }
 }

 #loader h1 span:nth-child(2){
   opacity: 0;
   animation-name: letterA;
   animation-duration: 3s;
   //animation-delay: 0.5s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterA {
     0% { opacity: 0 }
     12.5% { opacity: 0 }
     25% { opacity: 1 }
     37.5% { opacity: 1 }
     50% { opacity: 1 }
     62.5% { opacity: 1 }
     75% { opacity: 1 }
     87.5% { opacity: 1 }
     100% { opacity: 0 }
 }

 #loader h1 span:nth-child(3){
   opacity: 0;
   animation-name: letterB;
   animation-duration: 3s;
   //animation-delay: 1s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterB {
      0% { opacity: 0 }
      12.5% { opacity: 0 }
      25% { opacity: 0 }
      37.5% { opacity: 1 }
      50% { opacity: 1 }
      62.5% { opacity: 1 }
      75% { opacity: 1 }
      87.5% { opacity: 1 }
      100% { opacity: 0 }
 }

 #loader h1 span:nth-child(4){
   opacity: 0;
   animation-name: letterR;
   animation-duration: 3s;
   //animation-delay: 1.5s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterR {
     0% { opacity: 0 }
     12.5% { opacity: 0 }
     25% { opacity: 0 }
     37.5% { opacity: 0 }
     50% { opacity: 1 }
     62.5% { opacity: 1 }
     75% { opacity: 1 }
     87.5% { opacity: 1 }
     100% { opacity: 0 }
 }

 #loader#loader  h1 span:nth-child(5){
   opacity: 0;
   animation-name: letterI;
   animation-duration: 3s;
   //animation-delay: 2s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterI {
     0% { opacity: 0 }
     12.5% { opacity: 0 }
     25% { opacity: 0 }
     37.5% { opacity: 0 }
     50% { opacity: 0 }
     62.5% { opacity: 1 }
     75% { opacity: 1 }
     87.5% { opacity: 1 }
     100% { opacity: 0 }
 }

 #loader h1 span:nth-child(6){
   opacity: 0;
   animation-name: letterC;
   animation-duration: 3s;
   //animation-delay: 2.5s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 @keyframes letterC {
     0% { opacity: 0 }
     12.5% { opacity: 0 }
     25% { opacity: 0 }
     37.5% { opacity: 0 }
     50% { opacity: 0 }
     62.5% { opacity: 0 }
     75% { opacity: 1 }
     87.5% { opacity: 1 }
     100% { opacity: 0 }
 }

 /*#loader h1 span:nth-child(7){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 0.75s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 #loader h1 span:nth-child(8){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 0.875s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 #loader h1 span:nth-child(9){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 1s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 #loader h1 span:nth-child(10){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 1.125s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 #loader h1 span:nth-child(11){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 1.25s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }

 #loader h1 span:nth-child(12){
   opacity: 0;
   animation-name: letters;
   animation-duration: 0.5s;
   animation-delay: 1.375s;
   animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
   animation-iteration-count: infinite;
 }*/

/**
 * Site header
 */
.site-header {
    height: 100vh;
    color: $background-color;
    position: relative;
}

.site-header .leftIn img{
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}

.headroom--pinned {
    display: block;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}

.headroom--unpinned {
    display: block;
    transform: translateY(-102%);
    -webkit-transform: translateY(-102%);
    -moz-transform: translateY(-102%);
    -o-transform: translateY(-102%);
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}

.site-header .wrapper h2{
    padding-top: 4rem;
    font-size: 35px;
    line-height: 1.1em;
    letter-spacing: -0.01em;
    font-weight: 400;
}

.site-header .wrapper h3{
    font-family: 'Basis-Black';
    font-size: 17px;
    line-height: 1.1em;
    letter-spacing: 0.04em;
}

.site-header .wrapper h4{
    font-family: 'Basis-Regular';
    font-size: 17px;
    line-height: 1.1em;
    letter-spacing: 0.04em;
}

.site-title {
    font-size: 14px;
    color: $brand-color;
    font-family: 'Basis-Black';
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin: 0;
    float: left;

    &,
    &:visited {
        color: $brand-color;
    }
    &:hover{
        text-decoration: none;
    }
}

.nav-container{
    background: $second-color;
    overflow: initial;
    width: auto;
    min-height: 148px;
    right: 0;
    left: 0;
    padding: 1.5em 2em 0;
    border-right: 5px solid $brand-color;
}

.bump{
    max-width: 50em;
    width: 100%;
    float: right;
    padding-bottom: 1.5em;
    background: $second-color;
    position: relative;
}

.bump-border{
    position: absolute;
    bottom: -3px;
    max-width: 50em;
    border-bottom: 3px solid $brand-color;
    left: 0;
    margin-left: auto;
    right: 0;
}

.holdNav{
    overflow: visible;
    font-size: 11px;
}

.nav-mobile{
    display: none;
}

.mobile-view, .tablet-view, .left-tablet-view{
    display: none;
}

.site-nav {
    font-family: 'Basis-Black';
    float: right;
    width: 100%;
    margin-top: 2em;
    padding: 0;

    .menu-icon {
        display: none;
    }

    .leftNav{
        float: left;
        width: 50%;
        position: relative;
    }

    .rightNav{
        float: right;
        width: 50%;
        position: relative;
    }

    .page-link {
        color: $brand-color;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.68;
        display: block;
        cursor: pointer;
        -webkit-transition: padding 0.4s ease;
        -moz-transition: padding 0.4s ease;
        -o-transition: padding 0.4s ease;
        -ms-transition: padding 0.4s ease;
        transition: padding 0.4s ease;
    }

    .page-link.mPS2id-highlight:before{
        content: '-';
        position: absolute;
        width: 0.6em;
        left: -1em;
    }

    @include media-query($on-palm) {
        .nav-mobile{
            display: block;
            position: absolute;
            top: -1.4em;
            right: 0;
            height: 52px;
            width: 48px;
            z-index: 999;
        }
        #nav-toggle {
          position: absolute;
          left: 16px;
          top: 16px;
          cursor: pointer;
          padding: 10px 35px 16px 0px;
          span,
          span:before,
          span:after {
            cursor: pointer;
            height: 2px;
            width: 16px;
            background: $brand-color;
            position: absolute;
            display: block;
            content: '';
            transition: all 500ms ease-in-out;
          }
          span{
            background: none;
          }
          span:before {
            top: -5px;
          }
          span:after {
            bottom: 0;
          }
          &.active span {
            background-color: transparent;
            &:before,
            &:after {
              top: 0;
            }
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
        .trigger{
            display: none;
            margin-top: 2em;
        }
    }
}

.col-wrapper {
    margin: 2em 0;
    padding: 0 0 0 1em;
    text-transform: uppercase;
    overflow: auto;
    float: right;
    width: 100%;
}

.col-wrapper-bottom{
    text-transform: uppercase;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 0;
}

.site-nav .col{
    margin-bottom: 0;
    padding-left: 0;
}

.col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.column + .column {
    margin-left: 4%; /*1.6%;*/
}

.col-1 {
    width: 13.33%; /*6.86666666667%;*/
}

.col-2 {
    width: 30.66%; /*15.3333333333%;*/
}

.col-3 {
    width: 48%; /*23.8%;*/
}

.col-4 {
    width: 65.33%; /*32.2666666667%;*/
}

.col-5 {
    width: 82.66%; /*40.7333333333%;*/
}

.col-6 {
    width: 100%; /*49.2%;*/
}

/**
 * Page content
 */
.page-content {
    padding: 0;
}

.scroll-space{
    display: block;
    height:11em;
    border-bottom: 3px solid $brand-color;
}

.left .top-space{
    padding: 0;
    overflow: auto;
    border-bottom: 3px solid $brand-color;
    position: relative;
}

.left .space{
    padding: 2em 0;
    overflow: auto;
    border-bottom: 3px solid $brand-color;
    position: relative;
}

.left .space-left.pos{
    position: absolute;
    left: 0;
    bottom: 2em;
}

.left .space-right.pos{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 2em;
}

.left .space-right.pos-mid{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.left .space-right.pos > .space-right, .left .space-right.pos-mid > .space-right{
    position: absolute;
    right: 0;
    bottom: 0;
}

.left .space-right.pos > .space-left {
    position: absolute;
    bottom: 1.5em;
}

.left-pos .space-right{
    float: right;
}

.first-space{
    height: 144px;
}

.right .space{
    padding: 1.2em 0 9em;
    overflow: auto;
    border-bottom: 3px solid $brand-color;
}

.right .space.last{
    padding: 1.2em 0 9em;
    overflow: auto;
    border-bottom: none;
}

.bottom-pad{
    padding-bottom: 12em;
}

svg#arrow{
    padding-right: 2em;
}

#whiteArrow{
    margin-left: calc(#{$spacing-unit} / 2);
}

.arrow-space{
    text-align: right;
    height: 4.4em;
    visibility: hidden;
}

.arrow-space + .arrow-space{
    height: 5em;
}

.arrow-white:before{
    content: '';
    background: url('/img/white-arrow.svg') no-repeat;
    width: 16px;
    height: 14px;
    background-size: 16px 14px;
    position: absolute;
    margin-left: 12em;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    -moz-animation: bounce 3s infinite;
    -o-animation: bounce 3s infinite;
}

@keyframes bounce {
    0% {transform: rotate(90deg) translateX(6px);}
    50% {transform: rotate(90deg) translateX(15px);}
    100% {transform: rotate(90deg) translateX(6px);}
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: rotate(90deg) translateX(6px);}
    50% {-webkit-transform: rotate(90deg) translateX(15px);}
    100% {-webkit-transform: rotate(90deg) translateX(6px);}
}

@-moz-keyframes bounce {
    0% {-moz-transform: rotate(90deg) translateX(6px);}
    50% {-moz-transform: rotate(90deg) translateX(15px);}
    100% {-moz-transform: rotate(90deg) translateX(6px);}
}

@-o-keyframes bounce {
    0% {-o-transform: rotate(90deg) translateX(6px);}
    50% {-o-transform: rotate(90deg) translateX(15px);}
    100% {-o-transform: rotate(90deg) translateX(6px);}
}

.arrow:before{
    content: '';
    background: url('/img/arrow.svg') no-repeat;
    width: 16px;
    height: 14px;
    position: absolute;
    margin-left: -5em;
}

.double-arrow:before{
    content: '';
    background: url('/img/double-arrow.svg') no-repeat;
    width: 16px;
    height: 44px;
    position: absolute;
    margin-left: -5em;
}

.arrow.n-n-e:before{
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    -o-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
}

.arrow.n-e:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.s-s-w:before{
    -webkit-transform: rotate(215deg);
    -moz-transform: rotate(215deg);
    -ms-transform: rotate(215deg);
    -o-transform: rotate(215deg);
    transform: rotate(215deg);
}

.arrow.s-w:before{
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.arrow.w-s-w:before{
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
}

.arrow.n-w:before{
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.spacer{
    float: left;
    display: block;
    width: 100%;
    height: 2em;
}

.letters-l{
    float: left;
    margin: 0;
}

.letters-r{
    float: right;
    margin: 0;
}

.space-right.r-float{
    float: right;
}

.reverse .space-left{
    position: absolute;
    bottom: 2em;
}

.reverse .space-right{
    float: right;
}

.left .space.pad{
    padding-bottom: 0;
}

.left .space p, .left .top-space p, .right .village .vill-right p{
    font-size: 11px;
    margin-bottom: 2em;
}

.right .space p, .updates-space p, .right .post-list p{
    font-size: 24px;
    margin-bottom: 1em;
}

.right .post-list .space-right.col-4 a:after{
    content: '';
    background: url('/img/update-arrow.svg') no-repeat;
    background-size: 16px 14px;
    width: 16px;
    height: 14px;
    position: absolute;
    margin-top: -1px;
    margin-left: 6em;
    color: $brand-color;
}

.updates-space p{
    font-weight: 400;
}

.update-gallery{
    display: none;
}

.space-left, .space-right{
    float: left;
}

.space.last{
    border-bottom: none;
}

.page-content .right .space-left{
    margin-top: 0.4em;
}

.village, .map, .team{
    border-top: 2px solid $brand-color;
    float: left;
    padding: 2em 0;
}

.team{
    padding-right: 2em;
}

#map{
    width: 100%;
    height: 100%;
    display: block !important;
    min-height: 40em;
}

.map .leaflet-container{
    font-family: 'Basis-regular', sans-serif;
}

body .leaflet-container.leaflet-clickable, body .leaflet-container.map-clickable, body .leaflet-marker-icon, body .leaflet-overlay-pane path{
    cursor: default;
}

.leaflet-control-attribution.leaflet-control{
    display: none !important;
}

.leaflet-container .leaflet-left .leaflet-control{
    margin-left: 2em;
    margin-top: 2em;
}

.leaflet-container .leaflet-bar{
    border-radius: 0;
    border: 2px solid $brand-color;
}

.leaflet-container .leaflet-control-zoom-in{
    border-bottom: 1px solid $brand-color;
}

.leaflet-container .leaflet-control-zoom-out{
    border-top: 1px solid $brand-color;
    border-bottom: none;
}

.leaflet-container .leaflet-bar a:hover{
    border-color: $brand-color;
    background-color: $background-color;
}

.leaflet-container .leaflet-control-zoom-in, .leaflet-container .leaflet-control-zoom-out{
    background-image: url('/img/icons.png');
    background-repeat: no-repeat;
    background-size: 26px 52px;
    opacity: 1;
}

.vill-left, .vill-mid, .vill-left-right, .vill-right, .map-items, .team-left, .team-right{
    float: left;
}

.map-items li span{
    color: $brand-color;
    font-family: 'Basis-Black';
    padding-right: 2em;
    width: 1.4em;
    font-size: 11px;
    display: inline-block;
}

.map-items li{
    list-style: none;
}

.right .village p, .right .space .team p{
    font-size: 14px;
}

.page-content .right .village h4{
    margin-bottom: 1em;
}

.page-content .right .map-items h4{
    font-family: 'Basis-Regular';
    text-transform: none;
}

.updates .post-list {
    > li {
        border-bottom: 3px solid $brand-color;
        padding-bottom: 9em;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        overflow: auto;
        padding-top: 2em;

        &:first-child{
            padding-top: 0;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.panel .space-right.column{
    margin-left: 4%;
}


/**
 * Posts
 */

.wrapper.updates .first-space{
    border-right: 5px solid #F9423A;
}

.wrapper.updates .leftIn{
    float: right;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper.updates .leftIn .space-right{
    float: right;
}

.wrapper.updates .leftIn .top-space{
    border: none;
    padding: 0 0 2em 0;
}

.wrapper.updates .leftIn .space{
    border-top: 3px solid #F9423A;
    border-bottom: none;
}

.wrapper.updates #right.right {
    width: 50%;
    float: right;
}

.wrapper.updates .rightIn{
    padding: 2em;
}

.right .post-list .space-left{
    margin-top: 2em;
}

.right .post-list .space-right{
    margin-top: 2em;
}

.right .updates-space{
    background: #bdbdbd;
    clear: both;
    overflow: auto;
    padding: 2em;
    border-bottom: none;
}

.right .updates-space .updatesIn{
    max-width: 50em;
    overflow: auto;
}

.right .updates-space ul.post-list p:last-child{
    margin-bottom: 4rem;
}

.right .updates-space p:last-child{
    margin-bottom: 9rem;
}

.right .updates-space p{
    color: $background-color;
}

a.tel-phone, a.tel-phone:visited, a.tel-phone:hover, a.tel-phone:active{
    text-decoration: none;
    color: $brand-color !important;
}

.updatesIn a.tel-phone, .updatesIn a.tel-phone:visited, .updatesIn a.tel-phone:hover, .updatesIn a.tel-phone:active{
    text-decoration: none;
    color: $background-color !important;
}

.right .post-list .space-right.col-4 a.tel-phone:after{
    content: none;
    background: none;
}

article.post{
    background-color: $second-color;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.page-content .left .galleryBox span.expand-out{
    display: block;
    position: relative;
}

.page-content .left .galleryBox span.expand{
    display: block;
    background: url('/img/expand.svg') no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

.page-content .left .ab-exp .galleryBox{
    display: block;
}

.page-content .left .ab-exp .galleryBox:before{
    display: block;
    content: '';
    background: url('/img/expand.svg') no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

.page-content .left .pad.exp .galleryBox span.expand{
    top: 1em;
}

.page-content .left .pad .galleryBox span.expand, .page-content .left .last .galleryBox span.expand{
    top: 3em;
}

.featherlight{
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2147483647;
    text-align:center;
    white-space:nowrap;
    cursor:pointer;
    background:#333;
    background:rgba(0,0,0,0)
}

.featherlight:last-of-type{
    background:rgba(250,236,220,.9)
}

.featherlight:before{
    content:'F-A-B-R-I-C-';
    font-family: 'Basis-Black';
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin: 0;
    float: left;
    color: $brand-color;
    position: absolute;
    top: 24px;
    left: 32px;
}

.featherlight .featherlight-content{
    text-align:left;
    vertical-align:middle;
    display:inline-block;
    overflow:auto;
    padding:0;
    border-bottom:none;
    margin-left:5%;
    margin-top: 10vh;
    margin-right:5%;
    max-height:80%;
    background:none;
    cursor:auto;
    white-space:normal
}

.featherlight .featherlight-inner{
    display:block
}

.featherlight .featherlight-close-icon{
    position:absolute;
    z-index:9999;
    top:2rem;
    font-size: 1.6em;
    right:2rem;
    line-height:1;
    cursor:pointer;
    text-align:center;
    color:$brand-color;
    padding: 0 0 2em 2em;
}

.featherlight .featherlight-image{
    width:100%
}

.featherlight-iframe .featherlight-content{
    border-bottom:0;
    padding:0
}

.featherlight iframe{
    border:0
}

.featherlight *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body > img:first-child{
    display: none;
}

@media only screen and (max-width:1024px){
    .featherlight .featherlight-content{
        margin-left:10px;
        margin-right:10px;
        max-height:98%;
        padding:10px 10px 0;
        border-bottom:10px solid transparent
    }
}

/* gallery */

.featherlight-next, .featherlight-previous{
    display:block;
    position:absolute;
    top:20%;
    right:0;
    bottom:20%;
    left:80%;
    cursor:pointer;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background:rgba(0,0,0,0)
}

.featherlight-next span:before{
    content: '';
    background: url('/img/arrow.svg') no-repeat;
    background-size: 32px 26px;
    width: 32px;
    height: 26px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.featherlight-previous span:before{
    content: '';
    background: url('/img/arrow.svg') no-repeat;
    background-size: 32px 26px;
    width: 32px;
    height: 26px;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.featherlight-previous{
    left:0;
    right:80%;
}

.featherlight-previous span{
    left: 1.6rem;
}

.featherlight-next span,.featherlight-previous span{
    position:absolute;
    top:54%;
    left:4%;
    width:82%;
    text-align:center;
    font-size:0;
    line-height:80px;
    margin-top:-40px;
    color:$brand-color;
    font-weight:400;
}

.featherlight-previous span{
    text-align: left;
}

.featherlight-next span{
    right:4%;
    left:auto
}

.featherlight-next:hover span,.featherlight-previous:hover span{
    display:inline-block
}

.featherlight-loading .featherlight-next,.featherlight-loading .featherlight-previous{
    display:none
}

.caption{
    position: absolute;
    margin-top: 2em;
    color: $brand-color;
    font-size: 11px;
    max-width: 330px;
}

/**
 * Site footer
 */

.footer-space{
    background-color: $brand-color;
    overflow: auto;
    min-height: 60em;
}

.max-footer{
    max-width: 50em;
    float: right;
}

.footer-space.left-footer{
    overflow: inherit;
    clear: both;
    padding: 2em;
    border-top: 1px solid $brand-color;
}

.footer-space.left-footer h2{
    font-size: 24px;
    line-height: 36px;
    color: $background-color;
    letter-spacing: -0.01em;
}

.footer-space.left-footer .footer-bottom{
    margin-top: 6em;
}

.footer-space.left-footer h4, .footer-space.right-footer h4{
    color: $background-color;
}

.footer-space.left-footer .lamont{
    padding-top: 4em;
}

.footer-space.left-footer .col-1 p.license, .footer-space.right-footer .footer-bottom p.license{
    font-size: 5px;
    padding: 5px 0 0;
    color: $background-color;
}

.footer-space.right-footer{
    padding: 2em;
}

.site-footer {
    padding: 0;
    background: $brand-color;
    width: 100%;
    color: $background-color;
}

.footer-heading {
    font-size: 17px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.site-footer .wrapper{
    margin: 0 auto;
    position: relative;
    max-width: 80em;
    padding: 2em 0;
}


/* --- Form --- */

.errordiv{
    font-size: 17px;
}

.footer-space h2{
    color: $background-color;
    font-size: 24px;
}

.footer-space h3{
    color: $background-color;
    text-transform: inherit;
    font-size: 17px;
    font-family: 'Basis-regular', sans-serif;
    padding: 0.6em 0;
}

.footer-space form h3{
    padding: 0.6em 0 1em;
}

.footer-space #date{
    display: none;
}

#cushion{
    height: 32px;
    display: none;
}

a[href^=tel] {
    color: #fff;
}

ul.form-split.top-form{
    margin: 0;
    overflow: auto;
}

.right ul.form-split{
    margin: 0;
    overflow: auto;
}

.right ul.form-split.top-form li.form-right{
    min-height: 0;
}

.right ul.form-split li.form-right{
    //min-height: 26em;
}

ul.form-split.top-form li.form-left, ul.form-split.top-form li.form-right{
    width: 49%;
}

ul.form-split li.form-left, ul.form-split li.form-right{
    width: 49%;
}

ul.form-split li.form-left{
    float: left;
}

ul.form-split li.form-right{
    float: right;
}

ul.form-split.middleChunk{
    min-height: 24em;
}

#register .confirmation {
  display: none;
  font-size: 24px;
  color: $background-color;
  position: absolute;
  bottom: 5em;
}

#register:target .confirmation {
  display: inherit;
}

input{
    height: 2em;
    width: 100%;
    border: none;
    padding: 0 0.6em;
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
    color: $brand-color;
    border-radius: 0;
    font-family: 'Basis-regular', sans-serif;
}

input[type="checkbox"], input[type="radio"]{
    width: inherit;
    height: 29.6px;
    background: $background-color;
    -webkit-appearance: none;
    appearance: none;
    border: 4px solid $background-color;
    position: relative;
    vertical-align: middle;
    margin: 0.2em 0 0.2em 0.2em;
    border-radius: 0;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background: rgba(249, 66, 58, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.other-option input + label + #other-text{
    display: none;
}

.other-option input:checked + label + #other-text{
    display: block;
}

.errordiv{
    color: $background-color;
}

button[type="submit"] h3{
    padding: 0;
    margin: 0;
    font-family: 'Basis-Black', sans-aerif;
    text-transform: uppercase;
}

button[type="submit"]{
    background: none;
    border: 2px solid $background-color;
    color: $background-color;
    padding: 16px 30px;
    margin: 1em 0;
    letter-spacing: 0.04em;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Basis-Regular';
}

li label {
    cursor: pointer;
    color: $background-color;
    padding-left: 1em;
    font-size: 17px;
    vertical-align: middle;
}

.footer-space ul{
    margin: 0;
    padding: 0;
}

.footer-space ul li{
    list-style: none;
}

.remove{
    display: none;
}

::-webkit-input-placeholder {
   color: rgba(249, 66, 58, 0.5);
   font-size: 17px;
   transition: color 0.2s ease-in-out;
}

:-moz-placeholder {
   color: rgba(249, 66, 58, 0.5);
   font-size: 17px;
   transition: color 0.2s ease-in-out;
}

::-moz-placeholder {
   color: rgba(249, 66, 58, 0.5);
   font-size: 17px;
   transition: color 0.2s ease-in-out;
}

:-ms-input-placeholder {
   color: rgba(249, 66, 58, 0.5);
   font-size: 17px;
   transition: color 0.2s ease-in-out;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input:focus:-moz-placeholder {
    color:transparent;
}

input:focus::-moz-placeholder {
    color:transparent;
}

input:focus:-ms-input-placeholder {
    color:transparent;
}

.right .footer-space div.privacy{
    padding: 4em 0 9em;
}

.footer-space div p{
    font-size: 11px;
    color: $background-color;
}

.page-content h4.lower-case{
    text-transform: capitalize;
    margin-bottom: 15px;
}

/* Chosen CSS */

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  width: 100% !important;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: none;
  border-top: 0;
  background: #fff;
  box-shadow: none;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

.chosen-container .chosen-results {
  color: $brand-color;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: $brand-color;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 47px;
  padding-bottom: 0;
  height: auto;
  border: none;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 0;
  padding: 0 0.6em;
  min-height: 47px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: rgba(249, 66, 58, 0.5);
  font-size: 17px;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 4px 0 0 4px;
  padding: 0.46em 1.4em 0.46em 0.4em;
  border: none;
  max-width: 100%;
  border-radius: 0;
  background-color: $brand-color;
  box-shadow: none;
  color: $background-color;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 39%;
  right: 8px;
  display: block;
  width: 11px;
  height: 11px;
  background: url('/img/cross.svg') 0 0 no-repeat;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: 0 0;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: none;
  box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: none;
  box-shadow: none;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

.autocomplete-suggestions{
    background: $background-color;
    color: $brand-color;
    .autocomplete-suggestion{
        padding: 5px 6px;
        line-height: 15px;
        &:hover{
            background: $brand-color;
            color: $background-color;
        }
    }
}

/* --- End Form --- */

.error-404{
    height: 100vh;
    text-align: center;
}

.site-header .wrapper .error-404 h2{
    font-size: 140px;
}

.site-header .wrapper .error-404 h3{
    text-transform: uppercase;
}

.error-404 a, .error-404 a:visited, .error-404 a:hover, .error-404 a:active{
    color: #fff;
    text-decoration: none;
}

.g-recaptcha {
  margin-top: 1em;
}
