<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-body" class="pageBody ">

    {% include header.html %}

    <div id="page" class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
